.certificate-card {
    background: rgba(25, 25, 112, 0.85);  /* Deep blue with transparency */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
}

.View-contact h1 {
    margin-top: 70px; /* Adjust the value as needed */
}

.certificate-card:hover {
    transform: scale(1.02);
}

.certificate-card h3 {
    color: #FFD700; /* Gold for course title */
    margin-bottom: 10px;
}

.certificate-card p {
    color: white;
    margin: 5px 0;
    font-size: 1rem;
}

.user-profile {
    position: relative;
    cursor: pointer;
}

/* Dropdown container hidden by default */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #000;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
    background-color: #ddd;
}