/* Body CSS */
body{
    background: rgba(23, 10, 191, 1.0);
    background: radial-gradient(at center top, rgba(23, 10, 191, 1.0), rgba(136, 170, 223, 1.0));
    background-repeat: no-repeat;
    height: 100rem;

}
html {
    scroll-behavior: smooth;
}
/* Body CSS */


/* Menu CSS */


.menuItems {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menuItems li:first-child {
    margin-right: auto;
    margin-left: 60px;

}
.menuItems li:last-child,.menuItems li:nth-last-child(2) {
    margin-left: 15px;
    margin-right: 60px;
    padding: 3rem;
}

.button {
    text-decoration: none;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/* Menu CSS */


/* Center Intro CSS */

.landing_intro {
    display: block;
    width: 100%;
    text-align: center;

}
.button_container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.Center_Button {
    text-decoration: none;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;


}
.intro{
    text-decoration: none;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}
.line_2{
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}
.line_3{
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}

.landing_intro a {
    box-shadow: inset 0 0 0 0 #fff;
    padding: 16px 32px;
    margin: 0 -.25rem;
    outline: 2px solid white;
    border-radius: 10px;

    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.landing_intro a:hover {
    color: #4a545a;
    box-shadow: inset 200px 0 0 0 #fff;;
}

/* Center Intro CSS */
/* Arrow CSS */
.Arrow{
    float: right;
    margin-right: 40px;
    margin-top: 100px;
}
/* Arrow CSS */
/* Information/image CSS */
.Info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    height: 30rem;
    max-width: 75%;
    margin: 340px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 25px 4px rgba(0,0,0,0.51);
}

.Info {
    border: 2px solid #000;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    height: 100%;

}
.Photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 100%;
    margin-right: 200px;
}
.Image {
    border: 2px solid #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}







/* Information/image CSS */




/* footer CSS */
.footer{

    background-color: #445ee3;
    color: white;
    text-align: center;
    padding: 20px;


}





