<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../stylesheet.css">
    <!-- Importing font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>SkillSync</title>
</head>
<body>
<section>
    <div class="landing_header">
        <nav>
            <ul class="menuItems">
                <li><img src="logo.png" width="180" height="55"> </li>
                <li><a href="login" class="button">Login</a> </li>
                <li><a href="register" class="button">Sign Up</a> </li>
            </ul>
        </nav>
    </div>
</section>
<section>
    <!-- Main banner -->
    <div class="landing_intro">
        <p class="intro">
            <span> Welcome to SkillSync</span> <br>
            <span class="line_2">The all-in-one Learning platform for Computer Science</span> <br>
            <span class="line_3">Powered by IBM</span>
        </p>
        <div class="button_container">
            <a href="login" class="Center_Button">Login</a>
            <a href="register" class="Center_Button">Sign Up</a>
        </div>
    </div>
</section>
<section>
    <!-- Scroll arrow -->
    <img class="Arrow" src="arrow.png"
         onclick="document.querySelector('.landing_intro.intro').scrollIntoView()"
         width="100" height="100">
</section>
<section>
    <!-- Information section -->
    <p class="landing_intro intro"><span>About This Site</span></p>
    <div class="Info-container">
        <div class="Info"></div>
        <div class="Photos">
            <div class="Image"></div>
            <div class="Image"></div>
            <div class="Image"></div>
            <div class="Image"></div>
        </div>
    </div>
</section>
<section>
    <!-- Scroll arrow -->
    <img class="Arrow2" src="arrow.png"
         onclick="document.querySelector('.faq').scrollIntoView(true)"
         width="100" height="100">
</section>
<section>
    <!-- FAQ section -->
    <p class="landing_intro intro"><span>Frequently Asked Questions</span></p>
    <div class="Info-container">
        <div class="faq">
            <details>
                <summary>How do I register?</summary>
                <p>Click here to register</p>
            </details>
            <details>
                <summary>How do I log in?</summary>
                <p>Click here to login</p>
            </details>
            <details>
                <summary>What features are available?</summary>
                <p>We have quizzes, progress tracking, certificates and achievements</p>
            </details>
            <details>
                <summary>How do I get started?</summary>
                <p>Ensure you have an IBM SkillsBuild Account, which you can create here</p>
            </details>
        </div>
        <div class="faq">
            <details>
                <summary>How do I register?</summary>
                <p>Click here to register</p>
            </details>
            <details>
                <summary>How do I log in?</summary>
                <p>Click here to login</p>
            </details>
            <details>
                <summary>What features are available?</summary>
                <p>We have quizzes, progress tracking, certificates and achievements</p>
            </details>
            <details>
                <summary>How do I get started?</summary>
                <p>Ensure you have an IBM SkillsBuild Account, which you can create here</p>
            </details>
        </div>
    </div>
</section>



<section>
<img class="Arrow3" src="Up-arrow.png"
     onclick="document.querySelector('.landing_header').scrollIntoView(true)"
     width="100" height="100">
</section>
<section>
    <!-- Footer -->
    <footer class="footer">

        <p>Website created for CO2302, 2025</p>

    </footer>
</section>

</body>
</html>