<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../stylesheet.css">
    <meta charset="UTF-8">
    <title>SkillSync</title>
</head>
<body>
<section>
    <div class="landing_header">
        <nav>
            <ul class="menuItems">
                <li><img src="logo.png" > </li>
                <li><a href="login" class="button">Login</a> </li>
                <li><a href="register" class="button">Sign Up</a> </li>
            </ul>
        </nav>
    </div>
</section>





    <a href="login" class="button">Login</a>
    <a href="register" class="button">Sign Up</a>


<footer>
    <p>Website created for CO2302, 2025</p>
</footer>
</body>
</html>